@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  font-family: "Acme", sans-serif;
}
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}
